<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group {{ groupName }}</title>
</head>
<body>
    <h2>
        Group {{ groupName }}
    </h2>
    <h3>
        Users:
    </h3>
        {% for user in userList %}
            <a href="{% url "homework:user" user.id %}">{{ user.nickname }}</a><br>
        {% endfor %}
    <br>
    <br>
    <br>
    <h3>
        Deadlines:
    </h3>
    {% for deadline in deadlineList %}
        <a href="{% url "homework:deadline" deadline.id %}">{{ deadline.body }}</a><br>
    {% endfor %}
</body>
</html>