<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User {{ userName }}</title>
</head>
<body>
    <h2>
        User {{ userName }} from group <a href="{% url "homework:group" group.id %}">{{ group.name }}</a>
    </h2>

    <h3>
        Resolved Deadlines:
    </h3>
    {% for deadline in resolvedDeadlineList %}
        <s><a href="{% url "homework:deadline" deadline.id %}">{{ deadline.body }}</a><br></s>
    {% endfor %}

    <h3>
        Unresolved Deadlines:
    </h3>
    {% for deadline in unresolvedDeadlineList %}
        <a href="{% url "homework:deadline" deadline.id %}">{{ deadline.body }}</a><br>
    {% endfor %}
</body>
</html>